<?xml version="1.0"?>
<!--
/** 
 * @category  Practice Task
 * @package   Salecto_Advertisment
 * @author    vashishtha
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Theme\Block\Html\Topmenu">
        <plugin name="custom_menu_item" type="Salecto\Advertisment\Plugin\AdvertMenu" sortOrder="10" disabled="false"/>
    </type>
</config>
